/* ------------------------------header section------------------------------------ */
.navbar-brand img{
    width: 160px;
}
.top-logo img{
    width: 150px;
}

.social-link {
    width: 30px;
    height: 30px;
    display: flex;
    text-decoration: none;
    align-items: center;
    background-color: #ff7c08;
    justify-content: center;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}
.texte1:hover{
    color: #000000;
    cursor: pointer;
}

.social-link:hover, .social-link:focus {
    background: white;
    text-decoration: none;
    color: #ff7c08;
}

.parallelogram { 
    height: 60px;
    background-color: #ff7c08;
    /* Skew */
    transform: skew(-20deg);
}
.navbar .navbar-nav .nav-item .nav-link:focus{
    color: #FF7C08;
}
.navbar .navbar-nav .nav-item:hover{
    border-bottom: 2px solid #FF7C08;
}
.navbar .navbar-nav .nav-item .nav-link {
    color: #000000;
    transition: 0.2s linear;
}
.navbar .navbar-nav .nav-item .nav-link:hover {
    color: #FF7C08;
}


@media screen and (max-width:800px) {
    .parallelogram{
        background-color: transparent;
        margin-right: 0;
        
    }
}

.top-2{
    background-color: #231f40;
}
.texte1{
    transform: skew(20deg);
}
.group-icon .rounded-circle{ 
    background-color: rgb(255, 238, 223);
    width: 40px;
    height: 40px;
    transition: background-color 0.6s ease-in-out;
}
.group-icon-nav .rounded-circle{ 
    background-color: #FF7C08;
    width: 30px;
    height: 30px;
    transition: background-color 0.6s ease-in-out;
}
.group-icon .rounded-circle:hover{ 
    background-color: #FF7C08;
    /* color: #FF7C08 !important; */
}
.group-icon-nav .rounded-circle:hover{ 
    background-color: #f9f7f5;
    /* color: #FF7C08 !important; */
}
.group-icon .rounded-circle:hover a i{ 
    color: #ffffff !important;
}
.group-icon-nav .rounded-circle:hover a i{ 
    color: #FF7C08 !important;
}
.corps{
    background-color: rgb(238, 246, 235);
}
.rounded-circle span{
    bottom: 27px;
    left: 27px;
    border: 1px solid white;
    padding-top: 2px;
}
/* ---------------------------fin hearder section -------------------------------------------- */

.footer-regfood .titre-descriptif::after,
.footer-regfood .titre-descriptif3::after {
    content: "";
    width: 110px;
    height: 1px;
    background-color: #ff7c08;
    position: absolute;
    left: 0px;
    bottom: 0px;
    margin-left: 7px;
}
.footer-regfood .titre-descriptif3::after {
    width: 120px;
}
.footer-regfood .last-column .hstack::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #ff7c08;
    position: absolute;
    left: 0px;
    bottom: 0px;
}
.footer-regfood .hstack{ 
    margin-left: 10px;
}
.footer .footer-regfood {
    background: url("footer_bg.jpg") no-repeat top/cover
        rgba(35, 31, 64, 0.88);
    min-height: 400px;
    background-blend-mode: darken;
}
.footer .footer-copyright {
    background-color: #ff7c08;
}
.footer .footer-regfood .rounded-circle {
    background-color: #ff7c08;
    width: 40px;
    height: 40px;
    transition: background-color 0.6s ease-in-out;
}
.footer .footer-regfood .rounded-circle:hover {
    background-color: white;
}
.footer .footer-regfood .rounded-circle:hover a i {
    color: #ff7c08 !important;
}
.footer-regfood .flex-column .nav-link:hover {
    color: #ff7c08 !important;
}
/* ABOUT */

.About{
    height: 400px;
}
.jhon img{
    overflow: hidden;
    border-radius: 0px 100px 100px 0px;
    border: 10px solid white;
    box-shadow: rgba(230, 230, 235, 0.15) 0px 7px 29px 0px;
    width: 100%;
}

.textabout{
    position: relative;
    left: 55px;
}
.jhon h3{
    background: #ff7c08;
    color: white;
    width: 180px;
    height: 180px;
    position: relative;    
    border-radius: 50%;
    border: 5px solid white;
    font-size: 30px;
    left: 400px;    
    top: -550px;
}
.jhon p{
    background: #231f40;
    color: white;
    width: 350px;
    height: 150px;
    position: relative;
    left: 250px;    
    top: -400px; 
    border-radius: 50%;
    font-size: 20px;
    border: 5px solid white;
    border-radius: 45px 0px 45px 0px;
}
.About h5{
    color: #ff7c08;
}

/* MISSION */
.mission{
    background-image: url(mission_bg.png);
    background-size: cover;
    height: 600px;
    margin-top: 230px;
}

.bleu{
    position: relative;
    background-color: #231f40;
    height: 150px;
    width: 100%;
    border-radius: 10px;
}

.iconemission{
    width: 80px;
    height: 70px;
    background-color: #ff7c08;
    border-radius: 10px;
    transform: rotate(45deg);
    font-size: 30px;
}
.iconemission i{
    transform: rotate(680deg);
    margin-top: 20px;
    margin-left: 15px;
}

/* CHOOSE */

.choose h5{
    color: #ff7c08;
}
.chooseimg img{
    width: 100%;
    height: 550px;
}

.case{
    background-color: #F1F0FA;
    width: 35%;
    color: #484747;
    border-radius: 25px;
    border-left: 3px solid #ff7c08;
    transform: skewX(-10deg);
}
.case2{
    position: relative;
    left: 50px;
}

.case h5{
    color: #231f40;
}
.iconchose{
    position: relative;
    width: 75px;
    height: 40px;
    border: 5px solid #ff7c08;
    border-radius: 100%;
    background-color: #ff7c08;
    top: 100px;
    right: 30px;
    transform: translateY(-50%) skewX(10deg);
}


/* COMPTEUR */
.compteurs{
    background-image: url(counter_bg.jpg);
    background-size: cover;
}

.compteur-content{
    background: #231f40c4;
    background-size: cover;
}
.compteur{
    margin-top: 65px;
}
.counter{
    display: block;
    -webkit-animation: spin 80s linear infinite;
    -moz-animation: spin 80s linear infinite;
    animation: spin 80s linear infinite;
    /* -webkit-transition: -webkit-transform 1s;
    -webkit-transform: rotate(360deg) translateZ(0); */
}
@-webkit-keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}
@keyframes spin{
    100%{-webkit-transform: rotate(360deg);}
}
.compteur .num{
    font-size: 40px;
}
.iconcompteur{
    position: relative;
    top: 55px;
    left: 0x;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #ff7c08;
    font-size: 20px;
    margin-left: 35%;
}
.pcompteur{
    position: relative;
    top: 80px;
    font-size: 22px;
}
.countercontent{
    position: relative;
    bottom: 160px;
    font-size: 22px;
}

/* TESTIMONIAL */
.testimonial h5{
    color: #ff7c08;
}
.testimonialimg img{
    width: 175px;
    height: 175px;
    border: 3px solid white;
    border-radius: 100%;
}
.testimonialtext{
    width: 100%;
    height: 300px;
    background-color: #231f40;
    border-radius: 15px;
    border-left: 20px solid #ff7c08;
}
.testimonialtext img{
    width: 50px;
}
.testimonialicon{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #ff7c08;
}
.testimonialicon i{
    font-size: 23px;
}

.testimonialicon:hover {
    background-color: #231f40;
}