.navbar-brand img{
    width: 160px;
}
.top-logo img{
    width: 150px;
}

.social-link {
    width: 30px;
    height: 30px;
    display: flex;
    text-decoration: none;
    align-items: center;
    background-color: #ff7c08;
    justify-content: center;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}

.social-link:hover, .social-link:focus {
    background: white;
    text-decoration: none;
    color: #ff7c08;
}

.parallelogram { 
    height: 60px;
    background-color: #ff7c08;
    /* Skew */
    transform: skew(-20deg);
}
.navbar .navbar-nav .nav-item .nav-link:focus{
    color: #FF7C08;
}
.navbar .navbar-nav .nav-item:hover{
    border-bottom: 1px solid #FF7C08;
}
.navbar .navbar-nav .nav-item .nav-link {
    color: #000000;
    transition: 0.2s linear;
}
.navbar .navbar-nav .nav-item .nav-link:hover {
    color: #FF7C08;
}
.rounded-circle span{
    bottom: 27px;
    left: 27px;
    border: 1px solid white;
    padding-top: 2px;
}


@media screen and (max-width:800px) {
    .parallelogram{
        background-color: transparent;
        margin-right: 0;
        
    }
}

.top-2{
    background-color: #231f40;
}
.texte1{
    transform: skew(20deg);
}
.banner{
    background-image: url(counter_bg.jpg);
    background-size: cover;
    height: 400px;
}
.filtre1{
    width: 100%;
    height: 400px;
    background-color: #231f409c;
}

/*Profile Card 3*/
  .profile-card-3 .background-block {
      overflow: hidden;
  }
  .profile-card-3 .card-content {
    width: 100%;
    position: relative;
    padding: 15px 25px;
    color:#232323;
    float:left;
    height: 300px;
    background:#ffffff;
    border-radius:0 0 5px 5px;
  }
  .design-shapes{
    transform: rotate(45deg);
    left: 8%;
    opacity: 4%;
    bottom: 0%;
  }
  
  .para-profil{
    padding-top: 130px;
  }

  .profile-card-3 .profile {
    border-radius: 50%;
    position: absolute;
    top: 5%;
    box-shadow: 13px 12px 30px -6px rgba(0,0,0,0.17);
    left: 50%;
    max-width: 200px;
    padding: 10px;
    background-color: #ff7c08;
    border: 10px solid rgba(255, 255, 255, 1);
    transform: translate(-50%, 0%);
    /* z-index:99999; */
  }
  .profile-card-3 h2 {
    margin: 0 0 5px;
    font-weight: 600;
    font-size:25px;
  }
  .profile-card-3 h2 small {
    display: block;
    font-size: 15px;
    margin-top:10px;
  }


.top-triangle{
    background-color: #ff7c08;
    width: 100%;
    height: 20px;
}
.down-triangle { 
    width: 0; 
    height: 0;
    border-top: 90px solid #ff7c08;
    border-left: 160px solid transparent; 
    border-right: 160px solid transparent; 
 }

 .group-icon .rounded-circle{ 
    background-color: rgb(255, 238, 223);
    width: 40px;
    height: 40px;
    transition: background-color 0.6s ease-in-out;
}
.group-icon-nav .rounded-circle{ 
    background-color: #FF7C08;
    width: 30px;
    height: 30px;
    transition: background-color 0.6s ease-in-out;
}
.group-icon .rounded-circle:hover{ 
    background-color: #FF7C08;
    /* color: #FF7C08 !important; */
}
.group-icon-nav .rounded-circle:hover{ 
    background-color: #f9f7f5;
    /* color: #FF7C08 !important; */
}
.group-icon .rounded-circle:hover a i{ 
    color: #ffffff !important;
}
.group-icon-nav .rounded-circle:hover a i{ 
    color: #FF7C08 !important;
}
.corps{
    background-color: rgb(238, 246, 235);
}

.footer-regfood .titre-descriptif::after,
.footer-regfood .titre-descriptif3::after {
    content: "";
    width: 110px;
    height: 1px;
    background-color: #ff7c08;
    position: absolute;
    left: 0px;
    bottom: 0px;
    margin-left: 7px;
}
.footer-regfood .titre-descriptif3::after {
    width: 120px;
}
.footer-regfood .last-column .hstack::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #ff7c08;
    position: absolute;
    left: 0px;
    bottom: 0px;
}
.footer-regfood .hstack{ 
    margin-left: 10px;
}
.footer .footer-regfood {
    background: url("footer_bg.jpg") no-repeat top/cover
        rgba(35, 31, 64, 0.88);
    min-height: 400px;
    background-blend-mode: darken;
}
.footer .footer-copyright {
    background-color: #ff7c08;
}
.footer .footer-regfood .rounded-circle {
    background-color: #ff7c08;
    width: 40px;
    height: 40px;
    transition: background-color 0.6s ease-in-out;
}
.footer .footer-regfood .rounded-circle:hover {
    background-color: white;
}
.footer .footer-regfood .rounded-circle:hover a i {
    color: #ff7c08 !important;
}
.footer-regfood .flex-column .nav-link:hover {
    color: #ff7c08 !important;
}
@media screen and (max-width:800px) {
    .group-icon-nav{
        padding-right: 30%;
    }
}

.bounce{
    animation: myAnim 2s linear 0s 1 normal forwards;
}

@keyframes myAnim {
	0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateY(45px);
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateY(24px);
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateY(12px);
	}

	82% {
		animation-timing-function: ease-in;
		transform: translateY(6px);
	}

	93% {
		animation-timing-function: ease-in;
		transform: translateY(4px);
	}

	25%,
	55%,
	75%,
	87% {
		animation-timing-function: ease-out;
		transform: translateY(0px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0px);
	}
}


.pagination-outer{ text-align: center; }
.pagination{
    font-family: 'Quicksand', sans-serif;
    display: inline-flex;
    position: relative;
}
.pagination li a.page-link{
    color: #000000;
    background-color: transparent;
    font-size: 22px;
    font-weight: 400;
    line-height: 63px;
    height: 63px;
    width: 63px;
    padding: 0;
    margin: 0 5px;
    border-radius: 50%;
    border: none;
    box-shadow: 2px 2px rgba(0,0,0,0.2);
    transition: all 0.5s ease 0s;
}
.pagination li a.page-link:hover,
/* .pagination li a.page-link:focus, */
.pagination li.active a.page-link:hover,
.pagination li.active a.page-link{
    color: #fff;
    background: #ff7c08;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.2), 4px 4px rgba(0,0,0,0.1);
}

@media only screen and (max-width: 480px){
    .pagination{
        font-size: 0;
        display: inline-block;
    }
    .pagination li{
        display: inline-block;
        vertical-align: top;
        margin: 0 0 10px;
    }
}

.card{
    transition: all .6s ease;
}
.card:hover {
    transform: translateY(-10px);
  }
  